<header><h1>All Jobs for <%= @company.name %></h1></header>

<main>
<% @company.jobs.each do |job| %>
  <ul>
    <li>
      <%= link_to job.title, company_job_path(@company, job) %>
    </li>
  </ul>
<% end %>
</main>
