<header><h1>All Jobs for <%= @category.title %></h1></header>

<main>
<% @category.jobs.each do |job| %>
  <ul>
    <li>
      <%= link_to job.title, category_job_path(@category, job) %>
    </li>
  </ul>
<% end %>
</main>
